
.product-card{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
  margin: 40px;
  border: 1px solid blueviolet;
  border-radius: 16px;
  padding: 10px 12px;
}

.quantity{
  display: flex;
  gap: 10px;
  align-items: center;
}
.prod-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart{
 display: flex;
 justify-content: space-between;
}
.list{
  width: 65%;
}
.aside{
  width: 30%;
}
.price-card{
  margin: 40px;
  border: 1px solid blueviolet;
  border-radius: 16px;
  text-align: center;
}

button{
  background-color: blueviolet;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 4px 8px;
 
}